#landing-panel-intro{
  min-height: 300px; max-height: 300px;
  border-color: #ddedf6;
  background-color: #ddedf6;
}

#landing-panel{
  min-height: 300px; max-height: 300px;
  border-color: #ddedf6;

}

#landing-panel-text {
  text-align: center;
  padding: 10%;
  background-color: #ddedf6;

}

#landing-panel-body {
  background-color: #ddedf6;
}
